---
import { BaseLayout } from "../../layouts";
import { ImagesRoute } from "../../assets/images/ImagesRoute";
import { FadeInOnScrollHero } from "../../components/exclusives";

---

<BaseLayout>
    <img class="fixed-background" src = {ImagesRoute.IMG_7112}/>
    <section class="section-frame hero">
        <div class="flex-all-center">
            <p class="text-6xl">Sangria</p>
            <p class="text-md">Astrolume</p>
        </div>
        <p class="text-6xl">DAWN</p>
    </section>

    <section class="consept-section">
        <div class="text-container">
            <FadeInOnScrollHero client:load>
                <p class="text-5xl">
                    ワインボトルを<br/>
                    光のインテリアに。
                </p>
            </FadeInOnScrollHero>

            <FadeInOnScrollHero client:load>
                <p class="text-md">
                Dawn-Sangriaは、飲み終えたワインボトルを<br/>
                “灯り”へと生まれ変わらせる<br/>
                ライトインテリアです。<br/>
                <br/>
                ボトルに差し込むだけで、柔らかな光が広がり<br/>
                空間を上品に演出します。<br/>
                リビングを落ち着いた空間にしたり<br/>
                ディナーの雰囲気を華やかにしたりと<br/>
                シーンに合わせた演出が簡単に楽しめます。<br/>
                <br/>
                名前の由来はワインカクテルの「サングリア」。<br/>
                深みあるワインボトルの色合いに、<br/>
                朝の光を差し込むイメージを込めています。<br/>
                <br/>
                インテリアとしての美しさと実用性を両立させた<br/>
                ちょっと特別なライトです。
                </p>
            </FadeInOnScrollHero>
        </div>
    </section>

    <section class="ex-container">
        <div class="content">
            <img src={ImagesRoute.IMG_7157}/>
            <div/>
            <div class="letter-container">
                <div class="letter">                    
                    <p class="text-xl">柔軟な表現力</p>
                    <p class="text-md">様々な空間に溶け込むことができ、<br/>
                        時には存在感を十分に発揮することができる<br/>
                        フルカラーLEDによるライティングを実装。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="expression-container">
        <div class="top-figure">
            <div>
                <img class="img--lg-horizontal tracked-element2" src={ImagesRoute.IMG_7157}/>
                <br/>
            </div>
            <img class="tracked-element img--sm-vertical" src={ImagesRoute.IMG_7169}/>
        </div>

        <div class="bottom-figure">
            <img class="img--sm-horizontal tracked-element2" src={ImagesRoute.IMG_7174}/>
            <img class="img--lg-vertical tracked-element" src={ImagesRoute.IMG_7146}/>
        </div>
    </section>

    <section class="section-frame">
        <img class="section-frame" src={ImagesRoute.IMG_7111}/>
    </section>

    <section class="technology-section section-frame">
        <div class="letter-text">
            <p class="text-5xl">ミニマムな技術選定。</p>
            <p class="text-md">
                Wi-FiとBluetoothを搭載した超小型マイコン「Seeeduino XIAO ESP32C3」を中心に、テープライトとType-C給電モジュールを組み込んだシンプルな設計を採用し、できるだけコンパクトになるよう工夫しています。<br/>
                エンクロージャ（外装）はFusion 360で設計し、Creality製3Dプリンタで出力しました。<br/>
                制御はMQTTを用い、サーバーとのデータ通信によって実現しています。
            </p>
        </div>
        <img style="position:absolute;top:50%;left:25%;" class="img--sm-horizontal tracked-element" src={ImagesRoute.IMG_7182}/>
        <img style="position:absolute;bottom:12.5%;right:12.5%;" class="img--sm-vertical tracked-element2" src={ImagesRoute.IMG_7185}/>
    </section>

    <section class="last-section section-frame">
        <img src={ImagesRoute.IMG_7120}/>
    </section>
</BaseLayout>

<script>
    import { initMultiParallax } from "../../hooks/ScrollParallax";
    initMultiParallax([
    {selector:".tracked-element",ratio:0.1},
    {selector:".tracked-element2",ratio:0.3},
    {selector:".tracked-element3",ratio:0.5},
    ])
</script>



<style lang="scss">
    section{
        position:relative;
        z-index:1;
    }
    .hero{
        display:flex;
        justify-content:space-around;
        align-items:center;
        letter-spacing:10px;
    }
    .consept-section{
        position:relative;
        width:100%;
        height:250lvh;

        .text-container{
            position:sticky;
            top:0;
            left:0;
            width:50%;
            height:100lvh;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:start;
            padding-left:15rem;
            box-sizing:border-box;
            gap:1.5rem;
        }
    }
    .expression-container{
        position:relative;
        width:100%;
        height:200lvh;
        max-height:2160px;
        background:black;

        .top-figure{
            width:100%;
            height:50%;
            display:flex;
            justify-content:space-around;
            align-items:center;
        }
        .bottom-figure{
            width:100%;
            height:50%;
            display:flex;
            justify-content:space-around;
            align-items:center;
        }
    }
    .technology-section{
        background:#00000088;
        backdrop-filter:blur(2px);
        position:relative;

        .letter-text{
            box-sizing: border-box;
            max-width:100%;
            display:flex;
            justify-content:space-evenly;
            align-items:center;
            padding:5rem;

        }
    }

    .last-section{
        background:#00000088;
        backdrop-filter:blur(2px);
        display:flex;
        justify-content:end;
        img{
            height:100dvh;
            width:50%;
        }
    }

    .ex-container{
        position:relative;
        width:100%;
        height:100lvh;
        display:flex;

        .content{
            width:100%;
            height:100lvh;
            position:sticky;
            top:0;
            left:0;
            display:flex;
            justify-content:space-between;

            img{
                position:absolute;
                width:100%;
                height:100lvh;
            }

            .letter-container{
                position:relative;
                z-index:2;
                display:flex;
                justify-content:space-around;
                align-items:center;
                width:50%;
                height:100lvh;
                background:#00000044;
                backdrop-filter:blur(5px);
            }
        }
    }
    @media (max-width: 1024px) {
        .hero{
            flex-direction: column;
            justify-content: space-evenly;
        }
        .consept-section{
            .text-container{
                width:100%;
                padding-left:0;
                gap:3rem;
                align-items:center;
            }
        }
        .ex-container{
            .content{
                .letter-container{
                    width:100%;
                }
            }
        }
        .expression-container{
            .top-figure,.bottom-figure{
                flex-direction: column;
                overflow-x: hidden;
            }
        }

        .technology-section{
            .letter-text{
                box-sizing: border-box;
                flex-direction: column;
                gap: 5rem;
            }
        }
        .last-section{
            img{
                width: 100%;
            }
        }


    }
</style>
