---
import { ImagesRoute } from "../../../assets/images/ImagesRoute";
---

<section class="technology-section">
    <div class="technology-section__black">
        <div class="technology-section__black-pannel"/>
    </div>
    <div class="technology-section__inner">
        <div class="technology-section__inner-top">
            <img class="img--big-vertical tracked-element3" src = {ImagesRoute.blurprint}/>
            <div class="technology-section__text">
                <p class="text-5xl">ミニマムな技術選定。</p>
                <p class="concept-text-width">
                    Wi-FiとBluetoothを搭載した超小型マイコン「Seeeduino XIAO ESP32C3」を中心に、テープライトとType-C給電モジュールを組み込んだシンプルな設計を採用し、できるだけコンパクトになるよう工夫しています。
エンクロージャ（外装）はFusion 360で設計し、Creality製3Dプリンタで出力しました。
制御はMQTTを用い、サーバーとのデータ通信によって実現しています。
                </p>
            </div>
        </div>
        <div class="technology-section__inner-bottom">
            <img class="img--sm-horizontal tracked-element" src = {ImagesRoute.IMG_7182}/>
            <img class="img--big-vertical tracked-element" src = {ImagesRoute.blurprint2}/>
        </div>
    </div>
    <img class="technology-section__line" src = {ImagesRoute.line}/>
    <img class="technology-section__figure" src = {ImagesRoute.IMG_7341}/>
</section>

<style lang = "scss">
    .technology-section{
        position: relative;
        width:100%;
        height: 300lvh;
        background:black;
        &__text > * + *{
            margin-top:2rem;
        }

        &__black{
            position:sticky;
            width:100%;
            height:100lvh;
            top:0;
            left:0;
            display: flex;
            align-items: end;
            z-index: 2;
            &-pannel{
                width: 100%;
                height: 60%;
                background-color: black;
            }
        }

        &__inner{
            position:absolute;
            z-index: 3;
            top:0;
            left:0;
            box-sizing: border-box;
            width:100%;
            height:200lvh;
            padding:5rem 0rem;

            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &-top{
                width:100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
            }
            &-bottom{
                width:100%;
                box-sizing: border-box;
                padding:0 2rem;
                display: flex;
                justify-content: space-evenly;
                align-items: end;
            }
            
        }
        &__line{
            height:200lvh;
            width:100%;
            position:absolute;
            top:0;
            left:50%;
            z-index: 1;
            transform: translateX(-50%) scaleY(-1);
            object-fit:fill;
        }
        &__figure{
            position:absolute;
            bottom:0;
            width:100%;
            height: 100lvh;
            z-index: 5;
        }
    }

    @media(max-width:1024px){
        .technology-section{
            &__inner{
                &-top,&-bottom{
                    flex-direction: column;
                    gap:5rem;
                }
            }
        }
    }
</style>