---

import { ImagesRoute } from "../../assets/images/ImagesRoute"

---
<section class="concept-section">
    <div class="section-frame flex-all-center">
        <img class="img--big-horizontal" src = {ImagesRoute.IMG_7388}/>
    </div>
    <div class="concept-section__inner">
        <div class="concept-section__inner-content">
            <p class="concept-section__text concept-text">
                使われなくなった雑貨も、毎日見慣れた日用品も、手放そうとしていた家具でさえも──<br/>
                もし光をまとい、もう一度あなたの空間で息を吹き返したら？その瞬間、部屋の空気も、あなたの気持ちも、そっと表情を変えるかもしれない。
            </p>
            <figure >
                <img class="img--lg-horizontal" src = {ImagesRoute.IMG_7362}/>
            </figure>
        </div>
        <figure class="gallery-start tracked-element2">
            <img class="img--lg-vertical" src = {ImagesRoute.IMG_7122}/>
        </figure>
    </div>
    <div class="concept-section__inner">
        <figure class="gallery-end tracked-element3">
            <img class="img--big-vertical" src = {ImagesRoute.IMG_7169}/>
        </figure>
        <div class="concept-section__inner-content">
            <img class="img--lg-horizontal" src = {ImagesRoute.IMG_7341}/>
                        <p class="concept-section__text concept-text">
                身の回りのあらゆるモノをライトインテリアとして再生し、部屋中の光をひとつに束ねて世界観ごと切り替える“空間の再編集”を目指し、Dawn-Rumosを作成しました。 光のデザインそのものを暮らしの一部に溶け込ませ、どんな空間でも手軽に雰囲気を切り替えられる、新しいライフスタイルの形を提供します。

            </p>
        </div>
    </div>
</section>

<script>
  const root = document.querySelector(".concept-section");

  if (root) {
    root.querySelectorAll("img").forEach(img => img.classList.add("lamplight"));
    root.querySelectorAll("p").forEach(p => p.classList.add("lamplight"));
  }
</script>


<style lang = "scss">
    .concept-section{
        &__inner{
            width:100%;
            padding: 3rem 0;
            display:flex;
            align-items:center;
            justify-content:space-around;
            overflow-x: hidden;


            &-content{
                display:flex;
                flex-direction:column;
                gap:5rem;
            }


        }
        &__text{
            max-width:32rem;
            padding:0 2rem;
        }
    }
    .gallery{}

    @media(max-width:1024px){
        .concept-section{
            &__inner{
                flex-direction: column;
                &-content{
                    flex-direction: column-reverse;
                }
            }
        }

        .gallery{

            &-start,&-center,&-end{
                width: 100%;
                display: flex;
            }
            &-start{
                justify-content: start;
            }
            &-center{
                justify-content: center;
            }
            &-end{
                justify-content: end;
            }
        }
    }
</style>